@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,900&display=swap');

:root{
  --primary: rgba(130, 66, 144, 1);
  --secondary: rgba(233, 83, 137, 1);
  --tertiary: rgba(59, 177, 155, 1);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	opacity: 0;
}
input[type=number]{
  padding: .5rem;
  border-radius: .3rem;
  border: none;
}
img{
    height: 100%;
    width: 100%;
}
main{
  margin-inline: auto;
  width: min(100vw, 100em);
  height: min(100vh, 51.9em);
  display: flex;
}
section .profile , header .profile-header , .content .profile-content{
  border-radius: 50%;
  overflow: hidden;
}

.side-bar{
  width: 300px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  color: white;
}
section .profile{
  height: 200px;
  width: 200px;
  margin-bottom: 3rem;
}

.main-content{
  flex: 1;
  margin: 2rem;
}

.main-content header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
header .banner{
  display: flex;
}
header .banner .logo{
  width: 160px;
  height: 120px;
}
header .banner .school-name{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .banner .school-name h1{
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary);
}
header .banner .school-name p{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
}
header .profile-header{
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: .5rem;
}

.main-content .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.main-content .content > div{
    margin: 2rem;
}
.main-content .content > div:hover{
    cursor: pointer;
    transform: translate(0,-10%);
}
.main-content .content .image-container{
    width: 200px;
    height: 200px;
}
.main-content .content .icon-container{
    position: absolute;
    bottom: 35px;
    right: 20px;
    width: 50px;
    height: 50px;
}
.add-data,.update-data,.view-data{
    position: relative;
    overflow: hidden;
}
.add-data h1,.update-data h1,.view-data h1{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 55px;
    left: 15px;
}

/* MODALS */
dialog{
  border: 0;
  box-shadow: 0 0 1em rgb( 0 0 0 / .3);
}
.modal{
  width: 800px;
  height: 610px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1rem;
  background-color: var(--tertiary);
  border-radius: 1rem;
}
.modal::backdrop{
  background-color: rgba(130, 66, 144, 1);
  opacity: .6;
}
.submit-btn{
  margin-top: 1rem;
  padding-left: 3.2rem;
}
.submit-btn button,.close-btn button{
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 .5rem rgb( 0 0 0 / .3);
  cursor: pointer;
  color: white;
}
.submit-btn button{
  background-color: var(--secondary);
}.close-btn button{
  background-color: rgb(204, 33, 33);
}
.modal button:hover{
  color: rgba(0, 0, 0, 0.63);
  transform: translate(0,-10%);
}
.close-btn{
  display: grid;
  justify-content: end;
  margin-top: .5rem;
}
.modal .modal-title{
  color: var(--primary)
}
.modal .title{
  color: rgba(44, 56, 146, 1);
}
.modal input[type="text"]{
  padding: .5rem;
  width: 300px;
  margin: .5rem;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

/* ADD MODALS */
.student-container, .guardian-container{
  display: grid;
  place-items: center;
}
.upload-container{
  margin: 1rem 0;
  padding-left: 3.2rem;
}
.student-form,.guardian-form{
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}
.student-form > div, .guardian-form > div{
  display: flex;
  flex-direction: column;
}


/* SEARCH */
.search-form{
  width: 800px;
  height: 300px;
}
.search-form .form-container{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-form .submit-btn{
  padding: 0;
}

/* VIEW  DATA */

.data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.data td, .data th {
  border: 1px solid #ddd;
  padding: 8px;
}
.data td{
  width: 50px;
  height: 100px;
}
.data tr:nth-child(even){background-color: var(--secondary);}
.data tr:nth-child(odd){background-color: rgb(172, 172, 172) ;}
/* .data tr:hover {background-color: #ddd;} */

.data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: white;
}
.search button{
  color: white;
  border: none;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 1rem;
  background-color: var(--secondary);
  cursor: pointer;
}

/* DELETE */
.delete-modal {
  height: 500px;
  width: 500px;
  padding: 3rem;
}
.delete-modal .main-container{
  display: grid;
  place-items: center;
  height: 80%;
  margin-bottom: 2.5rem;
}
.delete-modal .image-container{
  border-radius: 50%;
  overflow: hidden;
}
.delete-modal .student-info{
  display: grid;
  place-items: center;
}
.main-container button{
  color: white;
  border: none;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 1rem;
  background-color: rgb(204, 33, 33);
  cursor: pointer;
}
.delete-modal #close-btn{
  background-color: var(--secondary);
}
/* POP UP MESSAGE */
.message{
  width: 500px;
  height: 500px;
}
.message .message-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message .image-icon{
  width: 280px;
  height: 250px;
}
.message .modal-message{
  width: 25ch;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.message button{
  background-color: var(--secondary);
}